/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

* {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.under-nav-bar {
  padding-top: 74px;
}

.footer-blue {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  height: 56px;
}

.full-height {
  height: 100%;
}

.container.under-nav-bar {
  margin-bottom: 56px;
}

.nav-item.link-active {
  background-color: #3295ff;
  border-radius: 10px;
}

li.nav-item.link-active > a {
  color: white !important;
}

body {
  color: white;
  background-color: #343a40;
}

