<div>
    Search here: <input [(ngModel)]="searchQueryString" (keyup)="searchQueryOnKeyUp($event)">
</div>

<p *ngIf="!movieSearchResult"><em>Search Results Here...</em></p>

<div *ngIf="movieSearchResult">
    <h1 id="tableLabel">Search Results for '{{ searchQueryString }}'</h1>
    <table class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Title</th>
            <th>Type</th>
            <th>ImdbID</th>
            <th>Type</th>
            <th>Poster</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movieSearchListing of movieSearchResult.Search">
            <td><a [routerLink]="['/movie', movieSearchListing.imdbID]">{{ movieSearchListing.Title }}</a></td>
            <td>{{ movieSearchListing.Year }}</td>
            <td>{{ movieSearchListing.imdbID }}</td>
            <td>{{ movieSearchListing.Type }}</td>
            <td><img src="{{movieSearchListing.Poster}}"></td>
          </tr>
        </tbody>
      </table>

</div>