.card-block {
    text-align: center;
}

.card-body {
    height: 356px;
}
  
.btn {
    margin-bottom: 20px;
}
  
.full-height {
    height: 100%;
}

.card {
    margin-inline-end: 18px;
}

.card-body {
    cursor: pointer;
}

h6.movie-title {
    cursor: pointer;
}

.movie-watched {
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
}