<p *ngIf="!movieList"><em>Loading...</em></p>

<div *ngIf="movieList" class="container">
    <h1 id="buttonslabel">{{ movieList.name }}</h1>
    <div>
        <input [(ngModel)]="movieListEditName">
        <button (click)="editListName()"> Edit Movie List Name </button> 
    </div>
    <div>
        <button (click)="deleteMovieList()"> Delete Movie List </button>
    </div>

    <h2 id="tableLabel">Movies in this movie list</h2>

    <div *ngIf="movieList.movies.length > 0">
      <div class="container m-t-md">
        <div class="row mg-bottom" *ngFor="let row of newArray">
          <ng-container *ngFor="let movieListing of row?.items">
            <div class="card mb-4 box-shadow full-height" [routerLink]="['/movie', movieListing.imdbID]">
              <div class="card-body d-flex flex-column">
                <div class="my-auto text-center">
                  <ul class="list-unstyled mt-3 mb-4 my-auto">
                    <img src='https://image.tmdb.org/t/p/w200/{{movieListing.posterURL}}'>
                  </ul>
                </div>
                <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Sign up for free</button> -->
              </div>
              <div class="card-footer">
                <h6 class="my-0 font-weight-normal">{{movieListing?.name}}</h6>
                <button (click)="deleteMovieFromList(movieListing.imdbID)">Delete</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
</div>

</div>