<p *ngIf="!tmdbResponse"><em>Loading...</em></p>

<div *ngIf="tmdbResponse">
  <div class="container m-t-md">
    <h1 class="mg-bottom text-center">Welcome to The Movie Project</h1>
    <p class="mg-bottom text-center">Create Lists of movies that you would like to watch! Using our search and discover
      features, you can add movies to your saved lists</p>
    <div class="row mg-bottom" *ngFor="let row of newArray">
      <ng-container *ngFor="let movieListing of row?.items">
        <div class="card mb-4 box-shadow full-height mx-auto">
          <div class="card-body d-flex flex-column"
            (click)="popularMovieClick(movieListing.title, movieListing.original_title)">
            <div class="my-auto text-center">
              <ul class="list-unstyled mt-3 mb-4 my-auto">
                <img class="movie-image" src='https://image.tmdb.org/t/p/w300/{{movieListing.poster_path}}'>
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <h6 class="my-0 font-weight-normal"
              (click)="popularMovieClick(movieListing.title, movieListing.original_title)">{{movieListing?.title}}</h6>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>