<p *ngIf="!tmdbResponse"><em>Loading...</em></p>

<div *ngIf="tmdbResponse">
      <div class="container m-t-md">
        <h1 style="text-align: center;" class="mg-bottom">Welcome to The Movie Project</h1>
        <div class="row mg-bottom" *ngFor="let row of newArray">
          <ng-container *ngFor="let movieListing of row?.items">
            <div class="card mb-4 box-shadow full-height mx-auto">
              <div class="card-body d-flex flex-column" (click)="popularMovieClick(movieListing.title, movieListing.original_title)">
                <div class="my-auto text-center">
                  <ul class="list-unstyled mt-3 mb-4 my-auto">
                    <img src='https://image.tmdb.org/t/p/w300/{{movieListing.poster_path}}'>
                  </ul>
                </div>
              </div>
              <div class="card-footer">
                <h6 class="my-0 font-weight-normal" (click)="popularMovieClick(movieListing.title, movieListing.original_title)">{{movieListing?.title}}</h6>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
</div>