<h1 id="tableLabel">Your Movie Lists</h1>

<p *ngIf="!movieLists"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movieLists">
    <thead>
      <tr>
        <th>Name</th>
        <th># of Movies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movieList of movieLists.items">
        <td><a [routerLink]="movieList.movieListId">{{ movieList.name }}</a></td>
        <td>{{ movieList.movies.length }}</td>
      </tr>
    </tbody>
  </table>
