<div class="form-inline">
  <h1 class="mt-auto mr-4 mb-3" id="tableLabel">Your Movie Lists:</h1>
  <div class="fa mt-auto mb-4">
    <button [routerLink]="['/add-movie-list']" type="button" class="btn btn-primary btn-sm">
      <h5 class="font-weight-bold my-0">+</h5>
    </button>
  </div>
</div>

<p *ngIf="!movieLists"><em>Loading...</em></p>

<div *ngIf="movieLists">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movieLists">
    <thead>
      <tr>
        <th class="text-light">Name</th>
        <th class="text-light"># of Movies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movieList of movieLists.items">
        <td class="text-light"><a [routerLink]="movieList.movieListId">{{ movieList.name }}</a></td>
        <td class="text-light">{{ movieList.movies.length }}</td>
      </tr>
    </tbody>
  </table>
  <nav class="d-flex justify-content-center" aria-label="Page navigation">
    <ul class="pagination">
      <li *ngIf="currentPage > 1" class="page-item"><a class="page-link" [routerLink]="['/my-lists']"
          [queryParams]="{ page: currentPage - 1}">Previous</a></li>
      <li class="page-item" *ngFor="let p of movieLists.totalItems|pages:itemsPerPage">
        <a class="page-link" [routerLink]="['/my-lists']" [queryParams]="{ page: p}">{{ p }}</a>
      </li>
      <li *ngIf="currentPage < maxPage" class="page-item"><a class="page-link" [routerLink]="['/my-lists']"
          [queryParams]="{ page: currentPage + 1}">Next</a></li>
    </ul>
  </nav>
</div>